html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
    background: #f3f1ed;
}

header{
    margin-left: 0px;
    display: flex;
    background: white;
    height: 59px;
    /* position: relative; */
}
.logo{
    margin: 15px 30px 0px 30px;
}
.tarif, .mobileApp, .support, .join{
    margin-top: 17px;
    margin-right: 20px;
}
a:link{
    /* color:black; */
    text-decoration: none;
}
a:hover{
    color: red !important;
}
a:visited{
    color: black;
}
.mobileApp a:link{
    color: grey;
}
.mobileApp a:visited{
    color: grey;
}
.alwaysClose{
    display: flex;
    height: 500px;
    background: #E7E6E8;
    padding: 80px 0px 0px 70px;
    overflow: hidden;

}

h1 {
    font-size: 80px;
    font-weight: bold;
    line-height: 100%;
    }
p.leftClose{
    margin: 50px 0 0 3px;
    font-size: 15px;
    line-height: 150%;
    overflow: visible;
    }
.leftClose{
    z-index: 10;
    
}
.rightClose{
    z-index: unset;
    overflow: hidden;
    margin-left: -350px;
        
}
.getTaxi{
    margin-top: -300px;
    width: 1130px;
    height: 968px; 
}
.accuracy{
    padding-top: 40px;
    background: #dedede;
}

h2{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

table{
    padding-top: 50px;
    border-spacing: 110px 0;
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: small;
    padding: 12px 0 0;
    color: #999;
}
footer a:link, a:visited{
    color: #999;
    font-size: small;
}
